/* general stuff */
dotfiles_old

/* vim stuff */
vim/.netrwhist
vim/swapfiles/*
vim/plugged/

/* tmux stuff */
tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect/*.txt
tmux/resurrect/last

/* sublime stuff */
Sublime/User/oscrypto-ca-bundle.crt
Package\ Control.merged-ca-bundle
Sublime/User/Package\ Control.cache/*
Sublime/User/Package\ Control.last-run
